@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
.bg-gradient{
  background: rgb(9,9,121);
background: linear-gradient(90deg, rgba(9,9,121,0.9108018207282913) 9%, rgba(6,84,171,1) 56%, rgba(0,212,255,1) 90%);

}
.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
 
.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
