.dark .theme-zinc {
    --background: 240 10% 3.9%; --foreground
    --foreground: 0 0% 98%; -- -- background 3: -2
 
    --muted: 240 3.7% 15.9%; -- -1.1, -80
    --muted-foreground: 240 5% 64.9%; +1.2,+18.8
 
    --popover: 240 10% 3.9%; popover foreground
    --popover-foreground: 0 0% 98%; popover 3:-2
 
    --card: 240 10% 3.9%; card foreground
    --card-foreground: 0 0% 98%; card-2
 
    --border: 240 3.7% 15.9%; --2:-2,2, 3:74.1
    --input: 240 3.7% 15.9%; --2:-2,2, 3:74.1
 
    --primary: 0 0% 98%; primany foreground
    --primary-foreground: 240 5.9% 10%; primary
 
    --secondary: 240 3.7% 15.9%;  -- 2: -1.1, -80.9
    --secondary-foreground: 0 0% 98%; -- foreground
 
    --accent: 240 3.7% 15.9%; --2:-1.1,-80
    --accent-foreground: 0 0% 98%; --foreground

    --destructive: 0 62.8% 30.6%; --2:-21.4 3:-29.6
    --destructive-foreground: 0 0% 98%; same
 
    --ring: 240 4.9% 83.9%; 
  }
